body
{
	font-family: Arial, Helvetica, sans-serif; 
}

h1
{
	text-align: center;
	margin: auto;
}

input
{
	margin-top: 3px;
	margin-bottom: 10px;
}

label.formTwo
{
	font-weight: bold;
}

#firstFormTitle
{
	font-weight: bold;
}

#firstFormText
{
	font-size: .8rem;
}

.totalForm
{
	border-style: groove;
	width: 25%;
	margin: auto;
	overflow: auto;
}

.firstForm
{
	padding: 7px;
	border-style: none none groove none;
}

.secondForm
{
	padding: 0px 7px 7px 7px;
}

.formTwoRightButtons
{
	float: right;
	margin-left: 3px;
}

.formTwoLeftButtons
{
	float: left;
	margin-right: 3px;
}

@media only screen and (max-width: 1400px) {
  .totalForm {
    width: 35%;
  }
}

@media only screen and (max-width: 1000px) {
  .totalForm {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .totalForm {
    width: 75%;
  }
}